/* Effect 9: Surrounding borders */
.loader {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 0px solid rgba(0,0,0,0.1);
  pointer-events: none;
}
.loader div {
  position: fixed;
  background: #2c3e52;
}
.loader div:first-child,
.loader div:nth-child(3) {
  width: 0;
  height: 50px;
}
.loader div:nth-child(2),
.loader div:nth-child(4) {
  width: 50px;
  height: 0;
}
.loader div:first-child {
  top: 0;
  left: 0;
}
.loader.la-animate div:first-child {
  width: 100%;
  -webkit-transition: width 1.35s linear 0.3s;
  transition: width 1.35s linear 0.3s;
}
.loader div:nth-child(2) {
  top: 0;
  right: 0;
}
.loader.la-animate div:nth-child(2) {
  height: 100%;
  -webkit-transition: height 1.35s linear 1.65s;
  transition: height 1.35s linear 1.65s;
}
.loader div:nth-child(3) {
  right: 0;
  bottom: 0;
}
.loader.la-animate div:nth-child(3) {
  width: 100%;
  -webkit-transition: width 1.35s linear 3s;
  transition: width 1.35s linear 3s;
}
.loader div:nth-child(4) {
  bottom: 0;
  left: 0;
}
.loader.la-animate div:nth-child(4) {
  height: 100%;
  -webkit-transition: height 1.35s linear 4.35s;
  transition: height 1.35s linear 4.35s;
}
.loader.la-animate {
  z-index: 100;
  border: 50px solid rgba(0,0,0,0.1);
  opacity: 0;
  -webkit-transition: border 0.3s, opacity 0.3s 5.7s;
  transition: border 0.3s, opacity 0.3s 5.7s;
}
